:root {
    --white: #fff;
    --dark: #232830;
    --very-light-pink: #c7c7c7e7;
    --text-input-field: #f7f7f7;
    --hospital-green: #acd9b2;
    --sm: 1.4rem;
    --md: 1.6rem;
    --lg: 1.8rem;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    font-size: 10px;
    color: var(--dark);
}
.container {
    width: 100%;
    max-width: 480px;
    min-width: 340px;
    height: 100%;
    padding: 10rem 1.6rem 4rem;
    margin: auto;
}
.container-logo, .container-form, .container-callToAction, .container-title{
    width: 100%;
    height: 100%;
}
.container-logo{
    visibility: hidden;
}
.container-title h1{
    font-size: var(--lg);
}
.logo__image{
    width: 25rem;
    display: block;
    margin: 0 auto;
}
.email-image{
    height: 13.5rem;
    width: 13.5rem;
    border-radius: 50%;
    margin: 3.8rem auto;
    background-color: var(--text-input-field);
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo_title, .logo_subtitle{
    margin-top: var(--lg);
    text-align: center;
}
.logo_title{
    font-size: var(--lg);
}
.logo_subtitle{
    font-size: var(--md);
    color: var(--very-light-pink);
}
.container-form {
    margin-top: 3.8rem;
}
.form_input, .form_label {
    display: block;
    width: 100%;
    font-size: var(--sm);
}
.form_label {
    margin-top: var(--sm);
    font-weight: bold;
}
.form_input{
    margin-top: 0.4rem;
    padding: 0.8rem;
    border:none;
    border-radius: 0.8rem;
    background-color: var(--text-input-field);
}
.form_button{
    width: 100%;
    height: 4.8rem;
    border-radius: 0.8rem;
    font-size: var(--lg);
    font-weight: bold;
}
.primary-button{
    border: none;
    background-color: var(--hospital-green);
    color: var(--white);
}
.container-form .primary-button{
    margin-top: var(--sm);
}
.form_link {
    margin-top: var(--sm);
    text-align: center;
    font-size: var(--sm);
}
.form_link .link{
    font-size: var(--sm);
    text-decoration: none;
    color: var(--hospital-green);
}
.container-callToAction{
    margin-top: var(--sm);
}
.secondary-button{
    border: 0.1rem solid var(--hospital-green);
    background-color: var(--white);
    color: var(--hospital-green);
}
@media (max-width: 640px) {
    .container-logo{
        visibility: visible;
    }
    .button-responsive{
        position: absolute;
        top: 85vh;
        width: 92.5vw;
        max-width: 448px;
        min-width: 308px;
    }
    .secondary-button{
        margin-top: 1.5rem;
    }
  }